 @import url('https://fonts.googleapis.com/css?family=Amaranth|Bangers|Indie+Flower|Molengo|Patua+One|Ropa+Sans|Shadows+Into+Light&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Caveat|Kurale|Tenor+Sans&display=swap');
 :root {
  scroll-behavior: smooth;
 }

 body {
  margin: auto;
 }

 header,
 section,
 footer {
  max-width: 980px;
  margin: 0 auto;
 }

 h1,
 h2,
 h4,
 h3 {
  color: #9c1f4d;
  text-align: center;
  font-family: 'Kurale', serif;
  font-size: 30px;
 }


 .logo img {
  height: auto;
  width: 150px;
 }

 nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
 }

 nav li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Alegreya SC', serif;
 }

 nav li a:hover {
  /*color: #9c1f4d;*/
  color: orange;
  text-decoration: underline;
 }

 .headerimg {
  background-image: url(../img/imgheader.png);
  min-height: 200px;
  background-position: center;
  background-size: cover;
 }

 @media (min-width: 450px) {
  header .head {
   display: flex;
   align-items: center;
  }
  header .menu {
   flex: 1;
  }
  .headerimg {
   min-height: 400px;
   background-position: center;
   background-size: cover;
  }
  nav li a {
   text-decoration: none;
   font-family: 'Alegreya SC', serif;
  }
 }

 @media (min-width: 650px) {
  .logo img {
   height: auto;
   width: 300px;
  }
  nav li a {
   font-size: 20px;
  }
 }

 h4 {
  display: none;
 }

 .description {
  text-align: center;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 17px;
  width: 85%;
  margin: auto;
 }


 .hightschool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
 }

 #hightschooltext {
  width: 90%;
  font-family: 'Caveat', cursive;
  font-size: 18px;
  margin: auto;
 }

 .hightschool img {
  width: 80%;
  padding-left: 25px;
 }

 .hightschooltitle h2 {
  font-size: 18px;
 }

 @media (min-width: 450px) {
  .hightschoolresponsive {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 15px;
  }
  .hightschool {
   width: 45%;
  }
  .hightschooltitle h2 {
   display: none;
  }

  .hightschooltext h4 {
   font-size: 18px;
   text-align: center;
   display: block;
  }
  .hightschool img {
   width: 100%;
   padding: 0;

  }
  .hightschooltext {
   width: 45%;
   font-size: 20px;
  }

  .description {
   font-size: 22px;
  }
 }

 @media (min-width:650px) {
  #hightschooltext {
   font-size: 26px;
  }
  .hightschooltext h4 {
   font-size: 22px;
  }
 }

 .bgroundimgwithtext {
  background-image: url(../img/bground.jpg);
  height: 145px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .bgroundimg {
  background-image: url(../img/bground.jpg);
  height: 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .bgroundtext:first-child {
  color: white;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
 }

 .summercampregistration {
  display: flex;
  justify-content: space-around;

 }

 .summercampregistration p {
  color: yellow;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
 }

 .summerbutton {
  display: inline-block;
  margin: 20px;
  border: 2px solid #efbcc1;
  font-size: 16px;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: #e3058a;
 }

 .summerbutton:hover {
  color: #d1effa;
  background-color: #4a4d98;
  cursor: pointer;
 }

 @media (min-width:500px) {
  .bgroundtext:first-child {
   text-transform: uppercase;
   font-size: 24px;
  }
  .bgroundtext {
   max-width: 980px;
   margin: auto;
  }
  .summercampregistration p {
   font-size: 28px;
  }
  .bgroundimgwithtext {
   height: 175px;
  }
 }




 section:nth-child(4) p {
  text-align: center;
  background-color: pink;

  border-radius: 99%;
  width: 20%;
  height: 218px;
  margin: auto;

 }

 .summercamp {
  display: flex;

 }

 .column {
  background-color: green;
  width: 31%;
  height: 111px;
  margin: auto;
 }

 .threecolumn {
  display: flex;
 }

 .footer {
  display: flex;
 }


 .contactsimg {
  width: 31%;

  margin: auto;
 }

 .contacts {
  width: 31%;
  text-align: center;
  margin: auto;
 }

 form {
  width: 31%;

  margin: auto;
 }

 .contactsimg img {
  width: 100%;


 }
 